.logo {
  color: $accent-color;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.logo__item {
  color: $primary-text-color;

  font-family: Oleo Script, sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.logo__items {
  color: $white-color;

  font-family: Oleo Script, sans-serif;
  font-size: 26px;
  line-height: 1.38;
}
